doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container-fluid
      .row.header
        h1 Help others or share the fun
      .row.actions-form
        .col-xs-6
          h4 Write a review
          textarea
        .col-xs-6
          h4 Give an advice
          textarea
        .col-xs-6
          h4 Share on
        .col-xs-6
          h4 Upload photos and/or videos
        .col-xs-6
          button Facebook
        .col-xs-6
          button Facebook
        .col-xs-12
          button Save
