doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container-fluid
      .row.banner
        h1 Customize trip
      .row.customize-form
        .col-xs-12
          h4 Itinerary type
      .row
        .col-xs-6
          .checkbox
            label
              input(type='checkbox', value='')
              | Fun
          .checkbox
            label
              input(type='checkbox', value='')
              | Smooth
          .checkbox
            label
              input(type='checkbox', value='')
              | Surprises
          .checkbox
            label
              input(type='checkbox', value='')
              | Cultural
          .checkbox
            label
              input(type='checkbox', value='')
              | Many stops
        .col-xs-6
          button Search objectives
