doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/index_controller.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container-fluid.first-page-wrapper
      .row.half-height
        .col-xs-6
          h1 Smart Tourist
        .col-xs-6
          select
            option(value='romana') Romana
            option(value='engleza') Engleza
      .row.half-height
        .col-xs-6
          input(list='destinations')
          datalist#destinations
            option(value='Chrome')
            option(value='Firefox')
            option(value='Internet Explorer')
            option(value='Opera')
        .col-xs-6
          input(type='number', placeholder='Enter range')
        .col-xs-12
          button Customize
