doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/map_controller.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    h3 My Google Maps Demo
    #map
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA19pkGacEYctC_xCWTBsWU7-JGPRifzr8&libraries=places&callback=getLocation')
